html{
    width: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px 20px 0px 20px;
}




#navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: #7944e6;
    position: relative;
}

.nav_buttons {
    text-decoration: none;
    padding: 10px;
}

a:hover {
    color: #10fdff;
}


ul {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    text-align: left;
    right: 0;
    padding-inline-start: 0;
}

li {
    list-style-type: none;
    margin: 0px 0px 0px 4px;
}

#about {
    background: #ff00ff;
    margin: 20px 0px 0px 0px;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

#about_title {
    padding: 0px;
}


#food_truck_img {
    margin: 0 auto;
    max-width: 70%;
}

section {
    border: solid 4px #7944e6;
    box-sizing: border-box;
    margin: 0px auto 40px;
    width: 100%;
  
}

#menus {
    color: black;
    text-align: center;
    justify-content: center;
    padding: 20px 0px 0px 0px;
   
}

.menu_image {
    width: 100%;
}

.view_menu_button {
    text-decoration: none;
    color: #7944e6;
    background:none;
    border: none;
    padding: 10px;
    bottom: 0;
}

@media screen and (min-width: 768px){
    #about {
        background: #ff00ff;
        margin: 20px 0px 0px 0px;
        padding: 20px;
        text-align: left;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #food_truck_img {
        margin: 5px 250px 5px 0;
        max-width: 30%;
    }
    #menus {
        display: flex;
        flex-direction: row;
        color: black;
        text-align: center;
        justify-content: center;
        padding: 20px 0px 0px 0px; 

    }
    .menu_image {
        max-width: 60%;
        margin: 0px 30px;
    }
    .menu_boxes {
        max-width: 20%;
    }

}


